@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .tw-form {
        @apply max-w-sm mx-auto;
    }
    .tw-form .errorlist{
        @apply p-4 mb-2 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400;
    }
    .tw-form .errorlist + input{
        @apply border-red-500 !important;
    }
    .tw-form .errorlist + textarea{
        @apply border-red-500 !important;
    }
    .tw-form div {
        @apply mb-5;
    }
    .tw-form label {
        @apply block mb-2 text-sm font-medium text-gray-900 dark:text-white;
    }
    .tw-form input[type=text] {
        @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
    }
    .tw-form textarea {
        @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
    }
    .tw-form [type=submit] {
        @apply text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800;
    }
    .tw-form-delete {
        @apply text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800 !important;
    }
}