{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block head_title %}CFE Home{% endblock %}</title>
    {% include 'head/css.html' %}
</head>
<body>
    <div>
        {% include 'navbar/base.html' %}
        {% include 'head/messages.html' %}
        {% block content %}{% endblock %}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js" defer></script>
</body>
</html>