{% extends 'base.html' %}


{% block content %}

<div class="flex">
    <div class="max-w-md text-center mx-auto">
        <div class="mb-4">
            <h3 class="text-2xl font-medium">Project activation required.</h3>
            <p class="text-lg">Select your project</p>
        </div>
        <div class="text-sm mb-4 font-medium text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white">
            
            {% for object in object_list %}
            <a href="{{ object.get_activate_url }}"  class="block w-full px-4 py-2 border-b border-gray-200 cursor-pointer hover:bg-gray-100 hover:text-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white">
                {{ object.title }}
            </a>
            {% endfor %}
            
        </div>
        <div class="text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white">
            <a href="{{ projects_create_url }}"  class="block w-full px-4 py-2 border-b border-blue-200 bg-blue-200 cursor-pointer hover:bg-blue-100 hover:text-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white">
                Create New Project
            </a>

            </div>
    </div>
</div>
{% endblock content %}