
{% for object_dict in object_list %}

<div class="mb-5" id="object-{{ forloop.counter }}">
    {{ object_dict.name }}
    {% if object_dict.is_image %}
    <img src="{{ object_dict.url }}" />
    {% endif %}
    <a class="hover:pointer font-medium text-blue-600 dark:text-blue-500 hover:underline" href="{{ object_dict.download_url }}">Download</a>
    <a class="hover:pointer font-medium text-gray-800 dark:text-gray-300 hover:underline" href="{{ object_dict.url }}">View in Browser</a>
    {% if instance %}
    <button  
        hx-confirm="Are you sure you want to delete this?"
        class="hover:pointer  font-medium text-red-600 dark:text-red-500 hover:underline"
        hx-target="#object-{{ forloop.counter }}"
        hx-swap="innerHTML"
        hx-post="{{ instance.get_absolute_url }}files/{{ object_dict.name }}">
        Delete
    </button>
    {% endif %}
</div>

{% endfor %}