<select name="status" 
    hx-patch="{{ instance.get_edit_url }}"
    hx-trigger="change"
    hx-target="#item-table-row-{{ instance.id }}"
    hx-swap="outerHTML"
    id="countries" 
    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    {% for choice in choices %}
    <option value="{{ choice.0 }}" {% if instance.status == choice.0 %} selected {% endif %}>{{ choice.1 }}</option>
    {% endfor %}
    
  </select>