

{% if not request.project.is_activated %}
<a href="/projects" type="button" data-dropdown-toggle="language-dropdown-menu" class="inline-flex items-center font-medium justify-center px-4 py-2 text-sm text-gray-900 dark:text-white rounded-lg cursor-pointer hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white">
  Select Project
</a>

{% else %}
<button type="button" data-dropdown-toggle="language-dropdown-menu" class="inline-flex items-center font-medium justify-center px-4 py-2 text-sm text-gray-900 dark:text-white rounded-lg cursor-pointer hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white">
    {{ request.project.title }}
  </button>
  <!-- Dropdown -->
  <div class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700" id="language-dropdown-menu">
    <ul class="py-2 font-medium" role="none">
      {% for project in project_list %}
        {% if project != request.project %}
        <li>
          <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white" role="menuitem">
            <div class="inline-flex items-center">      
              {{ project.title }}
            </div>
          </a>
        </li>
        {% endif %}
      {% endfor %}
      

      <li>
        <a href="/projects/create" class="block px-4 py-2 text-sm bg-blue-500 text-white hover:bg-blue-700 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white" role="menuitem">
          <div class="inline-flex items-center">
            Create Project
          </div>
        </a>
      </li>
    </ul>
  </div>
{% endif %}